[Autosave]
Autosave\ count=4
Name\ Specifier=2
Path=./
File\ type=.png
[Main]
Autosave=1
[Main/Serial]
BaudRate=19200
ComPort=Com 5
Parity=0
DataBits=8
StopBits=0
xonxoff=0
[Scopes]
[Scopes/DSA_11k]
colorMap0red=255
colorMap0green=255
colorMap0blue=255
colorMap1red=150
colorMap1green=2
colorMap1blue=140
colorMap2red=0
colorMap2green=255
colorMap2blue=0
colorMap3red=255
colorMap3green=255
colorMap3blue=0
colorMap4red=0
colorMap4green=0
colorMap4blue=255
colorMap5red=70
colorMap5green=210
colorMap5blue=160
colorMap6red=90
colorMap6green=100
colorMap6blue=180
colorMap7red=255
colorMap7green=255
colorMap7blue=255
autodetectBinary=1
autodetectCompressed=1
binaryData=1
compressedData=1
[wxWindows]
[wxWindows/wxHtmlHelpController]
hcNavigPanel=1
hcSashPos=182
hcX=110
hcY=145
hcW=700
hcH=480
hcFixedFace=
hcNormalFace=
hcBaseFontSize=10
hcBookmarksCnt=0
[wxWindows/wxHtmlHelpController/wxHtmlWindow]
Borders=10
FontFaceFixed=
FontFaceNormal=MS Shell Dlg 2
FontsSize0=7
FontsSize1=8
FontsSize2=10
FontsSize3=11
FontsSize4=14
FontsSize5=17
FontsSize6=20
[Log]
Level=1
